<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />

  <!-- Site Properities -->
  <title>{% block title %}{{ site.title }}{% endblock %}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block head %}
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/solarized_dark.css">
	<style>

  #sidebar {
	border-width: 0 0 1px;
	padding: 3%;
  }
  #main {
  	padding: 0 3%;
  }
  #footer {
  	padding: 0 20px;
  	font-family: arial, helvetica, sans-serif;
  	font-size: 12px;
  }
  </style>
{% endblock %}
  

</head>

<body>

  <!--[if lt IE 7]>
		<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
	<![endif]-->


{% block header %}
  <header role="banner" id="sidebar" class="col-sm-4">

	<aside id="logo" class="text-center ">
		<a href="/" class="hidden-xs"><img src="/img/me.png"></a>
		<h2>Tales from the<br> <span style="font-size: 56px;">Front End</span></h2>
	<h4>All about Javascript, CSS, and ... well just Javascript really.</h4>
	</aside>

<ul class="nav nav-stacked" style="max-width: 250px; margin: 0 auto;">
{% for page in pages %}
  <li>
  	<a href="{{ page.attributes.path }}" class="link">{{ page.attributes.title }}</a>
  	{{ page.attributes.snippet }}
  </li>
{% endfor %}
</ul>

<hr>

<div class="text-center"  style="max-width: 250px; margin: 0 auto;">
<a href="https://twitter.com/colynb"><img src="/img/twitter-small.png" style="vertical-align: middle;"></a>
&nbsp;&nbsp;&nbsp;
<a href="https://github.com/colynb"><img src="/img/github-small.png" style="vertical-align: middle;"></a>
&nbsp;&nbsp;&nbsp;
<a href="http://www.linkedin.com/in/colyn/"><img src="/img/linkedin-small.png" style="vertical-align: middle;"></a>
</div>



<p class="visible-lg">
<strong>Tweets from the front-end</strong>
<a class="twitter-timeline" href="https://twitter.com/colynb/front-end-development" data-widget-id="364199002167726081">Tweets from @colynb/front-end-development</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>

  </header>
  {% endblock %}

  <section id="main" class="panel panel-default col-sm-8">{% block body %}{% endblock %}</section>


{% block footer %}
<footer id="footer" class="clearfix">
 <hr>
 <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>.</p>

<p><a href="http://colynb.com/generator-go-static/">Powered by Go-Static!</a></p>

</footer>


<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'colynb-com'; // required: replace example with your forum shortname

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function () {
		var s = document.createElement('script'); s.async = true;
		s.type = 'text/javascript';
		s.src = '//' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
</script>
{% endblock %}

</body>
</html>
